<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/screen.css">
	<script defer src="js/change-page.js"></script>
	<script defer src="js/options-for-fetching.js"></script>
	<script defer src="js/script.js"></script>
	<title>ToDo app</title>
</head>
<body>
	<nav>
		<ul>
			<li><a id="home" href="/home" class="active"> Home </a></li>
			<li><a id="todo" href="/todo"> ToDo </a></li>
			<li><a id="auth" href="/"> Authenticate </a></li>
		</ul> 
	</nav>

	{{{body}}}
</body>
</html>