<section id="index">
	<h2> Hello {{user.username}}!, welcome to ToDo App </h2>
	<p> This is a ToDo app where you can save, delete and create new todo tasks.</p>
	<p> Head over to the ToDo page to see all your tasks. </p>
	<p> The ToDo app has been made by using <b> Node.js </b> and <b> Express </b> for the server, <b>MongoDB</b> for the database and <b>HTML, CSS and Vanilla JS</b> for the client </p>
	<p> Made by Denis Topallaj </p>
</section>